$primary-color: #ffa07a;
$secondary-color: #f0ead6;
$background-color: #ffffff;
$text-color: #333;
$accent-color: #34a853;

body, html {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: $background-color; /* Ensuring the overall background is white */
}

.app-container {
  display: flex;
  min-height: 100vh;
  color: $text-color;
}

.left-nav {
  width: 250px;
  background-color: $background-color;
  color: $text-color;
  font-weight: 700;
  padding: 20px;
  padding-top: 50px;
  box-shadow: 2px 0 10px rgba(0,0,0,0.1);
  transition: width 0.3s ease;
  overflow: hidden;

  // Initially hidden on smaller screens
  @media (max-width: 768px) {
    width: 0;
    padding: 0;
  }

  // Styles when navigation is visible
  &.visible {
    width: 250px;
    padding: 20px;
    padding-top: 50px;
  }

  ul {
    list-style: none; // Remove default list styling
    padding: 0;
    margin: 0;

    li {
      padding: 10px 15px; // Add padding for each list item

      a {
        display: block;
        color: $text-color;
        text-decoration: none; // Remove underline from links
        margin: 10px 0;
        padding: 8px 0;
        transition: color 0.3s, padding-left 0.3s;

        &:hover {
          color: $accent-color; /* Green text on hover for a cohesive theme */
          padding-left: 8px; /* Slight movement to indicate interaction */
        }
      }
    }
  }
}

.main-content {
  flex-grow: 1;
  padding: 20px; // Padding inside the content area
  padding-top: 50px;
}

// Navigation toggle button
.nav-toggle {
  display: none; // Hide by default
  position: fixed;
  top: 10px;
  left: 10px;
  background-color: $secondary-color;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px 15px;
  font-size: 18px;

  // Show the toggle button on smaller screens
  @media (max-width: 768px) {
    display: block;
  }
}
